body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #34daf39e, #f738e7);
    backdrop-filter: blur(10px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sub-container {
    border: 5px transparent;
    border-radius: 60px;
    width: 500px;
    background-color: transparent;
    box-shadow: 180px 180px 180px 180px rgba(0, 0, 0, 0.1);
    padding: 25px;
}
h1 {
    font-family: 'Montserrate';
    font-size: 32px;
    color: white;
    font-style: bold;
    text-shadow: 2px 2px 4px #b3bdcd;
}

.list-items {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.flist {
    border-width: 5px;
    margin: 5px;
    line-height: 50px;
    margin-left: 35px;
    margin-top: 10px;
}

.task {
    margin-left: 10px;
}

.input-box {
    border-radius: 5px;
    border: 3px solid black;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
}

.add-button button {
    background: blue;
    color: white;
    width: 50px;
    height: 58px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
    margin-left: 380px;
    margin-top: -57.5px;
    position: fixed;
}

.add-button button:hover {
    background: #4a3d9c;
}

.add-button button:active {
    background: #83b2ff;
}

.datepicker {
    width: 50px;
    height: 58px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #000;
    margin-left: 315px;
    margin-top: -57.5px;
    position: fixed;
}

.date-button button:hover {
    background: #c7c7c7;
}

.white-bar {
    border: 1px solid white;
    width: 450px;
    margin-left: 40px;
    position: fixed;
}

.delete-button {
    margin-left: 350px;
    font-size: 18px;
    background: none;
    border: none;
    position: fixed;
    cursor: pointer;
}

.delete-button:hover {
    color: red;
    font-size: 36px;
}


input[type="checkbox"] {
    position: relative;
}

input[type="checkbox"]:hover::before {
    content: "\2713";
    position: absolute;
    opacity: 1.0;
    font-size: 16px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    line-height: 1;
    cursor: pointer;
}